*{
  padding: 0;
  margin: 0;
  font-family: 'poppins', sans-serif;
}

.main{
  width: 400px;
  height: 450px;
  background-color: rgb(15, 51, 255);
  position: absolute;
  border: 10px solid rgb(0, 89, 255);
  border-radius: 6px; 
}

body{
  background;
 display: grid;
 height: 100vh;
 place-items: center;
}

.main input[type='text'] {
  width: 88%;
  position: relative;
  height: 80px;
  top: 5px;
  text-align: right;
  padding: 3px 6px;
  outline: none;
  font-size: 40px;
  border: 5px solid rgb(47, 0, 255);
  display: flex;
  margin: auto;
  border-radius: 6px;
  color: rgb(56, 41, 255);
}
.btn input[type='button']{
  width:90px;
  padding: 2px;
  margin: 2px 0px;
  position: relative;
  left: 13px;
  top: 20px;
  height: 60px;
  cursor: crosshair;
  font-size: 18px;
  transition: 0.5s;
  background-color: #0a89ff;
  border-radius: 6px;
  color: rgb(4, 0, 255);
}

.btn input[type='button']:hover{
   background-color: rgb(26, 25, 100);
   color: rgb(255, 255, 255);
}

 